
/* Navbar Header */
body {
    background-color: #272727;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

header {
    display: inline-flex;
}

/* Link Styling */
a {
    text-decoration: none;
    color: #F5F5F5;
}
a:hover {
    
    color: #DFBE57;
}

.div-blog {
    margin: 1rem 1rem 0 1rem;
    text-align: left;
    background-color: #000000;
    /* border-radius: 50%;
    border: solid; */
}
.div-blog:hover {
    border: solid #DFBE57;
    cursor: pointer
}
.div-blog .div-blog-title {
    /* background-color: #272727; */
    color: #DFBE57;
    padding: 0;
    margin: 0;
    font-size: 40px;
    padding-left: 10px;
    padding-right:10px;
    font-weight: bold;
}

.div-blog .div-blog-content {
    background-color: #060D0F;
    color: #F5F5F5;
    font-size: 20px;
    padding-left: 10px;
    padding-right:10px;
}
.blog-content-author {
    font-size: 15px;
    font-style: italic;
}

.login-form, .signup-form {
    color: white;
    /* text-align: center; */
}

/* User posts */
.card {
    margin: 0rem 1rem 0 2rem;
    display: block;
    background-color: black;
    border-radius: 2%;
}
.blockquote-footer {
    margin-bottom: 0;
}

/* New Blog Button */
.btn-create-blog {
    color: white;
    background-color: #060D0F;
    width: 10rem;
    height: 5rem;
    font-weight: bold;
}
    .btn-create-blog:hover {
        color: #DFBE57;
    }

    .div-blog {
        position: relative;
    }
.fa-reply {
    color: white;
    position: absolute;
    right: 0px;
}
.fa-reply:hover {
    color: #DFBE57;
    font-size: larger;
}

.hidden {
    display:none;

}

