<div class="container">
    <div class="row">
        <h1>Create Blog</h1>
        <div class="col-12">
            <form class="form form-new-blog" style="color:white; width: 100%;">
                <div class="form">
                    <label for="headline" style="width: 100%;">Headline</label>
                    <textarea id="blog-headline" class="form-input" style="width: 100%;" type="text" id="blog-headline"
                        rows="1">
                    </textarea>
                </div>
                <div class="form">
                    <label for="content">Content</label>
                    <textarea id="blog-content" class="form-input" style="width: 100%;" type="text"></textarea>
                </div>
                <div class="form">
                    <button class="btn btn-primary" id="btn-create-blog" type="submit">Create Blog!</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="./logic/newBlog.js" defer></script>